@import url(/styles/header.css);
@import url(/styles/banner.css);
@import url(/styles/apresentacao.css);
@import url(/styles/servicos.css);
@import url(/styles/sobre-nos.css);
@import url(/styles/contato.css);

* {
    margin: 0;
    padding: 0;
    font-family: "Zalando Sans", sans-serif;
}


.header, .banner, .servicos, .corretores, .contato {
    text-align: center;
}


span {
    font-weight: bold;
}

.cor-preto {
    color: #0D0D0D;
}
.cor-branco {
    color: #F2F2F2;
}
.cor-azul-escuro {
    color: #033E8C;
}
.cor-azul-medio {
    color: #1261A6;
}
.cor-azul-claro {
    color: #57C6F2;
}
.cor-destaque {
    color: #F2C849;
}

.fundo-preto {
    background-color: #0D0D0D;
}
.fundo-branco {
    background-color: #F2F2F2;
}
.fundo-azul-escuro {
    background-color: #033E8C;
}
.fundo-azul-claro {
    background-color: #57C6F2;
}


/* ================================
   320px — 480px (Dispositivos móveis)
=================================== */
@media (min-width: 320px) and (max-width: 480px) {
  /* seu código aqui */
}

/* ================================
   481px — 768px (iPads, tablets)
=================================== */
@media (min-width: 481px) and (max-width: 768px) {
  /* seu código aqui */
}

/* ==========================================
   769px — 1024px (Telas pequenas, laptops)
============================================= */
@media (min-width: 769px) and (max-width: 1024px) {
  /* seu código aqui */
}