.banner img {
  margin: 100px auto 50px;
  max-width: 600px;
  box-shadow: black 0px 0px 10px 3px ;
  border-radius: 10px;
}

.inicio {
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}


.inicio img {
  max-width: 600px;
  box-shadow: black 0px 0px 10px 3px ;
  border-radius: 10px;

}

.apresentacao-titulo {
  text-align: center;
  font-size: 32px;

}

.apresentacao-subtitulo {
  font-size: 24px;
  text-align: center;
}

.apresentacao-paragrafo {
  max-width: 900px;
  font-size: 20px;
  margin-bottom: 20px;
}

/* ================================
   320px — 480px (Dispositivos móveis)
=================================== */
@media (min-width: 320px) and (max-width: 480px) {
  /* seu código aqui */
    .banner img, .inicio img {
    max-width: 300px;
}
.apresentacao-titulo {
  font-size: 26px;

}

.apresentacao-subtitulo {
  font-size: 20px;
}
}




/* ================================
   481px — 768px (iPads, tablets)
=================================== */
@media (min-width: 481px) and (max-width: 768px) {
  /* seu código aqui */
  .banner img, .inicio img {
    width: 400px;
}
.apresentacao-titulo {
  font-size: 26px;

}

.apresentacao-subtitulo {
  font-size: 20px;
}
}



/* ==========================================
   769px — 1024px (Telas pequenas, laptops)
============================================= */
@media (min-width: 769px) and (max-width: 1024px) {
  /* seu código aqui */
}