.banner {
    margin-top: 50px;
    padding-top: 0;
}

/* ================================
   320px — 480px (Dispositivos móveis)
=================================== */
@media (min-width: 320px) and (max-width: 480px) {
  /* seu código aqui */
}



/* ================================
   481px — 768px (iPads, tablets)
=================================== */
@media (min-width: 481px) and (max-width: 768px) {
  /* seu código aqui */
}



/* ==========================================
   769px — 1024px (Telas pequenas, laptops)
============================================= */
@media (min-width: 769px) and (max-width: 1024px) {
  /* seu código aqui */
}