.header {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.header-img {
    margin-top: 20px;
    margin-bottom: 10px;

}

.header-paragrafo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 0px;
}

.header-paragrafo a {
    text-decoration: none;
    padding: 0 10px 5px 10px;
    border-bottom: 5px solid #57C6F2;
    border-radius: 5px;
}

.header-paragrafo a:hover {
    color: #F2F2F2;
    border-color: #F2F2F2;
}

/* ================================
   320px — 480px (Dispositivos móveis)
=================================== */
@media  (max-width: 480px) {
  /* seu código aqui */
    .header-img {
        max-width: 100px;
}
    .header-paragrafo {
        flex-wrap: wrap;
        font-size: 14px;
        padding: 0 5px 5px 5px ;
    }

}


/* ================================
   481px — 768px (iPads, tablets)
=================================== */
@media (min-width: 481px) and (max-width: 768px) {
  /* seu código aqui */
}


/* ==========================================
   769px — 1024px (Telas pequenas, laptops)
============================================= */
@media (min-width: 769px) and (max-width: 1024px) {
  /* seu código aqui */
}