.servicos {
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.servicos-subtitulo  {
    font-size: 32px;
    
}

.servicos-paragrafo {
    line-height: 32px;
    font-size: 22px;
    text-align: center;
    max-width: 900px;
}

.servicos-lista li {
    line-height: 32px;
    text-align: left;
    font-size: 22px;
}


