.servicos {
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.servicos-subtitulo  {
    font-size: 32px;
    
}

.servicos-paragrafo {
    line-height: 32px;
    font-size: 22px;
    text-align: center;
    max-width: 900px;
}

.servicos-lista li {
    line-height: 32px;
    text-align: left;
    font-size: 22px;
}

/* ================================
   320px — 480px (Dispositivos móveis)
=================================== */
@media (min-width: 320px) and (max-width: 480px) {
  .servicos {
    padding: 50px 20px;
  }
    .servicos-subtitulo  {
    font-size: 32px;
}

.servicos-paragrafo {
    font-size: 18px;
}

.servicos-lista li {
    font-size: 18px;
}

}

/* ================================
   481px — 768px (iPads, tablets)
=================================== */
@media (min-width: 481px) and (max-width: 768px) {
  .servicos-subtitulo  {
    font-size: 28px;
}

.servicos-paragrafo {
    font-size: 20px;
}

.servicos-lista li {
    font-size: 20px;
}
}

